@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Russo+One&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  font-family: "Russo One", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #2d2d2d;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container-fluid {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.header {
  overflow-x: hidden;
}

.header__top {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header-top__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__logo-text {
  margin-left: 24px;
  padding-left: 21px;
  width: 180px;
  padding-top: 20px;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2194ff;
  position: relative;
}

.header-top__logo-text::before {
  position: absolute;
  content: "";
  height: 33px;
  width: 1px;
  top: 21px;
  left: 0;
  background-color: #fff;
}

.header-top__tel {
  margin-top: -35px;
  margin-bottom: 5px;
  display: block;
  font-size: 24px;
  color: #f1f1f1;
}

.header-top__question {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: underline;
  color: #2194ff;
}

.header-main__inner {
  margin-top: 33px;
}

.header-main__top-items {
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-main__top-item {
  margin-right: 34px;
}

.header-main__top-item-img {
  margin-bottom: 7px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header-main__top-item-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #f1f1f1;
}

.header-main__title {
  margin-bottom: 14px;
  font-size: 64px;
  line-height: 63px;
  color: #2194ff;
}

.header-main__subtitle {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
  position: relative;
}

.header-main__subtitle::after {
  position: absolute;
  content: url(../image/Frame.svg);
  right: 130px;
  top: 0;
  z-index: -1;
}

.header-main__btn {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 13px;
  width: 400px;
  height: 87px;
  background-image: url(../image/btn.jpg);
  background-size: 100% 100%;
  border: none;
  border-radius: 12px;
  font-size: 22px;
  line-height: 27px;
  color: #f1f1f1;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.header-main__discription {
  margin-left: 19px;
  margin-bottom: 72px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f1f1f1;
}

.header-main__img {
  position: absolute;
  left: 460px;
  top: -8px;
}

.price {
  padding: 46px 0 44px;
  background-color: rgba(33, 148, 255, 0.05);
  position: relative;
}

.price__title {
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #2194ff;
}

.price__items {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  width: 260px;
  min-height: 320px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__item:nth-child(2) {
  width: auto;
}

.price__item-title {
  margin-top: 27px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #f1f1f1;
}

.price__item-subtitle {
  margin-bottom: 21px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #2194ff;
}

.price__item-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f1f1f1;
}

.price__item-btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 9px 34px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #f1f1f1;
  border: none;
  background-color: #2194ff;
  border-radius: 50px;
}

.price__item-discription {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(241, 241, 241, 0.7);
}

.price__item-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__item-percent-left, .price__item-percent-right {
  margin-bottom: 15px;
}

.price__item-percent-left p, .price__item-percent-right p {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 32px;
  color: rgba(241, 241, 241, 0.7);
}

.price__item-percent-left span, .price__item-percent-right span {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(241, 241, 241, 0.7);
}

.price__item-percent-right {
  margin-left: 25px;
  padding-left: 25px;
  position: relative;
}

.price__item-percent-right::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 51px;
  left: 0;
  top: 0;
  background-color: rgba(241, 241, 241, 0.3);
}

.price__item-img {
  max-width: 100%;
}

.price__item-img img {
  width: 100%;
  height: auto;
}

.price__img-bottom {
  position: absolute;
  width: 100px;
  height: 64px;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  margin-bottom: -40px;
}

.advantage {
  padding: 57px 0 0;
}

.advantage__title {
  margin-bottom: 25px;
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #f1f1f1;
}

.advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage__item {
  max-width: 380px;
  width: 100%;
  padding: 0 30px 30px 30px;
  text-align: center;
}

.advantage__item-img {
  width: 150px;
  height: 120px;
  margin: auto auto 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage__item-title {
  margin-bottom: 14px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #2194ff;
}

.advantage__item-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #f1f1f1;
}

.advantage__bottom {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 284px;
}

.advantage__bottom-img {
  max-width: 628px;
  width: 100%;
  max-height: 284px;
}

.advantage__bottom-img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.advantage__bottom-text {
  margin-left: -50px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #f1f1f1;
}

.advantage__bottom-text span {
  color: #2194ff;
}

.advantage__bottom-text p {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 12px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #f1f1f1;
  background-color: #2194ff;
}

.selection {
  padding: 34px 0 64px;
  background-color: rgba(33, 148, 255, 0.05);
}

.selection__title {
  margin-bottom: 45px;
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #2194ff;
}

.selection__filter {
  margin-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selection__filter-btn {
  width: 164px;
  height: 64px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: none;
  background: rgba(241, 241, 241, 0.2);
  border-radius: 20px;
  color: rgba(241, 241, 241, 0.7);
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.selection__filter-btn.mixitup-control-active {
  background-color: #2194ff;
  color: #f1f1f1;
}

.selection__inner {
  max-width: 600px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

.selection__img {
  width: 90%;
  margin: 0 auto;
  height: auto;
}

.selection__img > img {
  display: block;
  width: 100%;
}

.selection__btn {
  display: block;
  margin: 0 auto;
  width: 295px;
  height: 87px;
  background-image: url(../image/btn.jpg);
  background-size: 100% 100%;
  border: none;
  border-radius: 11px;
  position: relative;
  z-index: 10;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
}

.comment {
  padding: 40px 0;
}

.comment__title {
  margin-bottom: 47px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #f1f1f1;
}

.comment-slider__item {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 40px;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 10;
}

.comment-slider__item-wrapper {
  margin: 0 auto;
  max-width: 760px;
  min-height: 320px;
  position: relative;
  z-index: 8;
}

.comment-slider__item-wrapper::before {
  position: absolute;
  content: "";
  width: 104%;
  height: 90%;
  left: -2%;
  top: 5%;
  z-index: 5;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.comment-slider__item-wrapper::after {
  position: absolute;
  content: "";
  width: 108%;
  height: 80%;
  left: -4%;
  top: 10%;
  z-index: 1;
  background: #f1f1f1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.comment-slider__photo {
  margin-right: 23px;
  width: 200px;
  height: 240px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-slider__photo > img {
  border-radius: 25px;
}

.comment-slider__discription {
  max-width: 445px;
}

.comment-slider__discriptio-name {
  margin-bottom: 4px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #2194ff;
}

.comment-slider__discriptio-sity {
  margin-bottom: 15px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2d2d2d;
}

.comment-slider__discriptio-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2d2d2d;
}

.slick-arrow {
  width: 47px;
  height: 72px;
  border: none;
  background-color: transparent;
  font-size: 0;
  background-image: url(../image/icon/arrow-left.svg);
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -36px;
  z-index: 100;
}

.slick-prev {
  left: 5%;
}

.slick-next {
  right: 5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots button {
  width: 61px;
  height: 18px;
  background-color: rgba(241, 241, 241, 0.2);
  border: none;
  border-radius: 20px;
  font-size: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slick-dots .slick-active button {
  background-color: #2194ff;
}

.response {
  padding: 40px 0;
  background-color: rgba(33, 148, 255, 0.05);
}

.response__title {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #2194ff;
}

.response__accordeon-item {
  padding: 24px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.response__accordeon-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.response__accordeon-title {
  display: inline-block;
  padding-left: 38px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #f1f1f1;
  position: relative;
  cursor: pointer;
}

.response__accordeon-title::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 5px;
  left: 0;
  background-image: url(../image/icon/accordeon-arrow-open.svg);
}

.response__accordeon-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  color: #f1f1f1;
  height: 0;
  padding: 0;
  font-size: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.response__accordeon-text--active {
  display: inline-block;
  padding: 24px 38px;
  font-size: 16px;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form {
  padding: 55px 0;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input-title {
  max-width: 570px;
  margin-bottom: 50px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  color: #f1f1f1;
}

.form__input-name, .form__input-tel, .form__input-text {
  max-width: 402px;
  margin-bottom: 24px;
  padding: 17px 22px;
  background: #ffffff;
  border: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-transform: uppercase;
  resize: none;
}

.form__input-name ::-webkit-input-placeholder, .form__input-tel ::-webkit-input-placeholder, .form__input-text ::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.form__input-name :-ms-input-placeholder, .form__input-tel :-ms-input-placeholder, .form__input-text :-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.form__input-name ::-ms-input-placeholder, .form__input-tel ::-ms-input-placeholder, .form__input-text ::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.form__input-name ::placeholder, .form__input-tel ::placeholder, .form__input-text ::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.form__input-text {
  min-height: 112px;
}

.form__input-btn {
  width: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 11px 12px;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #f1f1f1;
  border: none;
  background-color: #2194ff;
  border-radius: 50px;
}

.form__photo {
  position: relative;
}

.form__img {
  margin-left: 70px;
  max-width: 366px;
  max-height: 454px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
}

.form__img img {
  width: 111%;
}

.form__photo-discription {
  display: inline-block;
  padding: 15px 26px;
  border-radius: 20px;
  background-color: rgba(33, 148, 255, 0.8);
  position: absolute;
  left: 0;
  top: 60%;
}

.form__photo-name {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
}

.form__photo-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #f1f1f1;
}

.brands {
  padding-bottom: 40px;
}

.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.brands__item {
  margin-bottom: 34px;
  width: 166px;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1f1f1;
  border-radius: 20px;
}

.brands__title {
  margin-bottom: 11px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #2194ff;
}

.brands__btn {
  display: block;
  margin: 0 auto;
  width: 295px;
  height: 87px;
  background-image: url(../image/btn.jpg);
  background-size: 100% 100%;
  border: none;
  border-radius: 11px;
  position: relative;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
}

.addres__wrapper {
  min-height: 488px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  overflow: hidden;
}

.addres__inner {
  padding: 40px;
}

.addres__title {
  margin-bottom: 16px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2194ff;
}

.addres__subtitle {
  padding-bottom: 21px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2639;
  border-bottom: 1px solid rgba(27, 38, 57, 0.2);
}

.addres__item {
  padding: 31px 0 14px;
}

.addres__item-title {
  margin-bottom: 3px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: #2194ff;
}

.addres__item-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #1b2639;
}

.addres__map {
  width: 100%;
  height: auto;
}

.addres__map img {
  width: 100%;
}

.footer__inner {
  padding: 40px 0 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.footer__conf, .footer__personal {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f1f1f1;
}

.modal {
  display: none;
}

.modal--active {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.modal__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(45, 45, 45, 0.9);
}

.modal__inner {
  position: absolute;
  padding: 30px 30px 39px;
  max-width: 462px;
  width: 100%;
  height: 408px;
  left: calc(50% - 232px);
  top: calc(50% - 204px);
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
}

.modal__top {
  margin-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__title {
  width: 350px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2194ff;
}

.modal__close-btn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-image: url(../image/icon/modal-close.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modal__form-name, .modal__form-tel {
  width: 100%;
  padding: 17px 22px;
  border: 1px solid #dedede;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.modal__form-name::-webkit-input-placeholder, .modal__form-tel::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.modal__form-name:-ms-input-placeholder, .modal__form-tel:-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.modal__form-name::-ms-input-placeholder, .modal__form-tel::-ms-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.modal__form-name::placeholder, .modal__form-tel::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgba(45, 45, 45, 0.5);
}

.modal__form-name {
  margin-bottom: 24px;
}

.modal__form-tel {
  margin-bottom: 42px;
}

.modal__form-btn {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 87px;
  background-image: url(../image/btn.jpg);
  background-size: 100% 100%;
  border: none;
  border-radius: 11px;
  position: relative;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
}

.modal__text {
  position: absolute;
  top: 103%;
  left: 0;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}

.modal-thanks {
  position: fixed;
  display: none;
  background: #222222;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}

.modal-thanks__inner {
  margin-top: 160px;
}

.modal-thanks__title {
  margin-bottom: 26px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2194ff;
}

.modal-thanks__subtitle {
  margin-bottom: 51px;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f1f1f1;
}

.modal-thanks__btn {
  display: block;
  margin: 0 auto;
  width: 395px;
  height: 87px;
  background-image: url(../image/btn.jpg);
  background-size: 100% 100%;
  border: none;
  border-radius: 11px;
  position: relative;
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f1f1f1;
}

.modal-thanks--active {
  display: block;
}

@media (max-width: 1140px) {
  .advantage__item {
    max-width: 300px;
  }
  .slick-arrow {
    display: none !important;
  }
}

@media (max-width: 940px) {
  .brands__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .form__img {
    margin-left: 20px;
  }
}

@media (max-width: 900px) {
  .advantage__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .advantage__bottom-img {
    display: none;
  }
  .advantage__bottom-text {
    margin-left: 0;
  }
  .advantage__bottom {
    padding-left: 30px;
    padding-right: 30px;
  }
  .comment-slider__item-wrapper {
    width: 80%;
  }
  .addres__wrapper {
    display: block;
  }
}

@media (max-width: 768px) {
  .header-top__logo-text {
    display: none;
  }
  .header-main__img {
    display: none;
  }
  .price__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .price__item:nth-child(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .price__item:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }
  .price__item:nth-child(1) {
    margin-left: auto;
    margin-right: auto;
  }
  .price__item-img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .selection__filter-btn {
    font-size: 14px;
  }
  .slick-dots {
    display: none !important;
  }
  .form__photo {
    display: none;
  }
  .form__input-name,
  .form__input-tel,
  .form__input-text {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-top__tel-box {
    margin-top: 50px;
  }
  .header-main__subtitle::after {
    display: none;
  }
  .header-main__title {
    font-size: 40px;
  }
  .header-main__top-item-text {
    font-size: 14px;
  }
  .header-main__top-items {
    display: block;
  }
  .header-main__btn {
    max-width: 400px;
    width: 100%;
  }
  .price__item {
    min-height: 0;
  }
  .price__item-btn {
    margin-top: 20px;
  }
  .advantage__bottom-text {
    font-size: 28px;
  }
  .selection__filter-btn {
    font-size: 11px;
  }
  .selection__filter-btn {
    max-width: 164px;
    width: 100%;
  }
  .selection__filter {
    gap: 10px;
  }
  .comment-slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
